.card{
    margin-top: 20px;
    padding: 10px;
    width: 24rem;
    min-height: 230px;
    padding: 0;
    transition: margin-bottom .15s ease-in-out;
}

.card:hover{
    transition: width 2s linear 1s;
}

.card-container-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to bottom, #ffffff, #eeeeee);
    border: solid 1px #eeeeee;
}

.card-content{
    margin-top: 20px;
}

.card-edit-icon{
    mask: url(../../../assets/custom-icons/pencil.svg);
}

.card-trash-icon{
    mask: url(../../../assets/custom-icons/trash.svg);
}

.card-save-icon{
    mask: url(../../../assets/custom-icons/checkmark-outline.svg);
}

.card-close-icon{
    mask: url(../../../assets/custom-icons/close-outline.svg);
}

.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: darkcyan;
    mask-size: cover;
    margin: 0 4px;
    cursor: pointer;
}

.icon:hover,
.icon:focus {
    background: red;
}

.card-title{
    margin: 10px 0 10px 0;
    font-weight: 900;
}

.card-header-title{
    width: 70%;
    border: solid 0px green;
}

.card-header-icons{
    width: 30%;
    border: solid 0px red;
    text-align: end;
    margin-top: 7px;
}

.card-header-icons #actions{
    width: 100%;
    border: solid 0px red;
    text-align: end;
    justify-content: center;
}

.card-header-icons #actions .icon{
    width: 26px;
    height: 26px;
}

.card-footer{
    /* position: absolute;
    bottom: 0; */
    width: 100%;
    height: 85px;
    display: flex;
    margin-top: 50px;
    border-top: solid 1px #ddd;
    padding: 20px 10px;
}

.card-footer ion-input{
    margin: 0 25px 0 0;
    border: solid 0px red;
}

.card-footer .input{
    border: solid 1px #ddd;
    border-radius: 7px;
}

.card-footer button{
    background-color: green;
    padding: 0 20px 0 20px;
}

.input{
    border: solid 1px #ddd;
    border-radius: 7px;
}

a, a:visited {
    color: rgba(100, 200, 240, 255);
}

a:link{
    text-decoration: none;
}

a:hover{
    color: rgba(0, 155, 200, 155);
    cursor: pointer;
}

.card-content ion-checkbox{
    --size: 14px;
}

.card-content ion-label{
    margin: 0 10px;
}

.card-content ion-icon{
    display: flex;
    justify-content: flex-end;
    border: solid 0px red;
    margin: 0 10px;
}

ion-item{
    border: solid 0px red;
    --inner-padding-start: 0px;
    --inner-padding-end: 0px;
    --padding-start: 0px;
    --padding-end: 0px;
}