<ion-card class="card">
    <ion-card-header class="card-container-header">
        <div class="card-header-title">
          <div *ngIf="!editingProjectTitle">
            <ion-card-title>{{project.title}}</ion-card-title>
          </div>
          <div *ngIf="editingProjectTitle">
            <ion-input class="input" type="text" [(ngModel)]="project.title" id="title" name="title" required #title="ngModel">
            </ion-input>
          </div>
        </div>
        <div class="card-header-icons">
          <div *ngIf="!editingProjectTitle">
            <span class="icon card-edit-icon" (click)="editTitle()"></span>
            <span class="icon card-trash-icon" (click)="remove(project)"></span>
          </div>
          <div *ngIf="editingProjectTitle" id="actions">
            <span class="icon card-save-icon" (click)="save(project)"></span>
            <span class="icon card-close-icon" (click)="cancel()"></span>
          </div>
        </div>
    </ion-card-header>
  
    <ion-card-content class="card-content">
      <h5 class="card-title">To Do</h5>
      <form #formProject="ngForm">
          <ion-item *ngFor="let task of project.tasks">
            <ion-checkbox [(ngModel)]="task.completed" id="task_{{task._id}}" name="task_{{task._id}}" checked="task.completed?true:false" #completed="ngModel"></ion-checkbox>
            <ion-label>
              <a (click)="editTask(task)">
                {{task.description}}
              </a>
            </ion-label>
              <span class="icon card-trash-icon" *ngIf="task.completed?true:false" (click)="removeTask(task)"></span>
              <span class="icon card-save-icon" *ngIf="task.completed?true:false" (click)="finishTask(task)"></span>
          </ion-item>

        <br>

        <h5 class="card-title">Done</h5>
        <div class="form-check" *ngFor="let done of dones">
            <ion-checkbox checked="true" [disabled]="true"></ion-checkbox>
            <ion-label class="tooltip">
              {{done.description}} 
              <span class="tooltiptext">
                {{done.finishedAt | date: 'MM/dd/yyyy HH:mm'}}
              </span>
            </ion-label>
        </div>
      </form>
    </ion-card-content>
    
    <div class="card-footer">
        <ion-input class="input" type="text" [(ngModel)]="task.description" id="description" name="description" required
            #description="ngModel" placeholder="Task">
        </ion-input>
        <ion-button color="success" (click)="addTask(task.description)" [disabled]="formProject.invalid" *ngIf="!editingTaskDescription">Add</ion-button>
        <ion-button color="success" (click)="saveTask(task)" [disabled]="formProject.invalid" *ngIf="editingTaskDescription">Salvar</ion-button>
    </div>
</ion-card>
