<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="showHideAddProject()" *ngIf="!showHideForm">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-button color="danger" (click)="showHideAddProject()" *ngIf="showHideForm">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>

  </ion-fab>
  <div class="container">
    <div class="container-projects">
      <div *ngFor="let project of projects">
          <app-card [project]="project" (updateProject)="updateProject(project)" (removeProject)="removeProject(project)"></app-card>
      </div>
      <div *ngIf="projects.length === 0" class="container-empty-projects">
        Nenhum projeto até o momento. <br>
        <a (click)="showHideAddProject()" style="cursor: pointer">Clique aqui para começar</a>
      </div>
    </div>
    <div class="container-form" *ngIf="showHideForm">
      <app-card-form (updateProjectsEvent)="updateProjects($event)"></app-card-form>
    </div>
  </div>
</ion-content>